body {
  background-color: lightgrey;
  font-family: "Lucida Console", Monaco, monospace;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: black;
}

a:any-link {
  text-decoration: none;
}

.message {
  stroke: black;
  stroke-width: 0.05;
  text-anchor: start;
  font-size: 0.5em;
  dominant-baseline: middle;
  font-family: Lucida Console, Monaco, monospace;
}

#messagedisplay {
  background-color: white;
  width: 100%;
  max-width: 600px;
  border: 1px solid black;
  box-shadow: 2px 2px darkgrey;
  display: block;
  margin: auto;
}

#foreigndiv {
  height: 100%;
}

#input {
  padding: 0;
  border: 0;
  outline-style: none;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0.5em;
  text-align: right;
  background: transparent;
  font-family: "Lucida Console", Monaco, monospace;
}
