/* This file is for your main application css. */

@import "./phoenix.css";

input,
select,
textarea {
  font-size: 16px;
}

.footer {
  /* position: fixed; */
  /* min-height: 100px; */
  /* bottom: 0; */
}

#msg-list {
  overflow-y: scroll;
  list-style: none;
  /* height: 200px; */
  max-height: 75vh;
  /* bottom: 200px; */
}
