#messagedisplay {
  background-color: grey;
  width: 100%;
  max-width: 600px;
}

#msg {
  background-color: grey;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: black;
}

a:any-link {
  text-decoration: none;
}

input {
  font-size: 16px;
}

body {
  background-color: lightgrey;
  font-family: "Lucida Console", Monaco, monospace;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

#cursor {
  animation: blinkingCursor 1s infinite;
}

@keyframes blinkingCursor {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}
