<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>smlcht</title>
    <script type="text/javascript" src="<%= Routes.static_path(@conn,"/js/app.js")%>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"></link>
    
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
    <div class="container">
          <section class="container" class="navbar fixed-top navbar-light bg-light">
          <a href="<%= Routes.page_path(@conn, :index) %>">Smol Chat</a>
      </section>
    </header>

    </div>

    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>

  </body>
</html>
